/*** Global and below 400px width styles ***/
b {
	font-size: 1.5rem;
}

h1, nav {
	text-align: center;
}

h1 {
	font-size: 3rem;
	color: #ae0000;
	margin-bottom: 1rem;
}

h2 {
	font-size: 2.5rem;
}

input[type='text'], select {
	width: 100%;
}

nav {
	margin-bottom: 2rem;
}

nav a.button {
	padding: 0px;
	width: 45%;
	margin-bottom: .5rem;
}

nav a.button.button-primary {
	background-color: #ae0000;
	border-color: #ae0000;
}

.container {
	padding: 2rem 2rem;
	height: 100vh;
}

nav a.button.button-primary:hover, nav a.button.button-primary:focus {
	background-color: #ae0000f2;
	border-color: #ae0000f2;
}

.no-content {
	font-style: italic;
}

.errorlist {
	list-style-type: none;
	margin-bottom: .5rem;
	color: red;
}

.errorlist li {
	margin-bottom: 0px;
}

.addplayer-submit-buttom, .startgame-submit-button, .endgame-submit-button {
	width: 100%
}

.activegames-content .matchup {
	font-size: 2rem;
}

.activegames-content form {
	margin-bottom: 0px;
	float: right;
}

.activegames-content .row:not(:first-child) {
	padding: 1rem 0;
	border-top: 1px solid #80808061;
}

.winner-form select {
	min-width: 20rem;
}

.leaderboard-table th, .leaderboard-table td {
	padding: 1rem;
}

/* Larger than mobile */
@media (min-width: 400px) {
	h1 {
		font-size: 3.5rem;
	}

	.activegames-content form {
		width: 100%;
	}
}

/* Larger than tablet */
@media (min-width: 750px) {
	h1 {
		font-size: 5rem;
	}
}

/* Larger than desktop */
@media (min-width: 1000px) {
	nav a.button {
		padding: 0px 30px;
		width: initial;
	}

	.addplayer-content, .startgame-content {
		display: flex;
		justify-content: center;
	}
}


