{% extends 'index.html' %}
{% block content %}
<div class="activegames-content">
	{% if not games %}
	<span class='no-content'>You currently have no games in progress</span>
	{% else %}
		{% for game in games %}
			<div class='row'>
				<div class='six columns matchup'>
					<b>Players:</b> <br/>
					{{ game.player_one.player_name }} <br/>
					{{ game.player_two.player_name }}
				</div>
				<div class='six columns winner-form'>
					<form action="{% url 'pooltracker:endgame' %}" method="post"> {% csrf_token %}
					<label for='winner'>Winner: </label>
					<select name='winner' required>
						<option value="">---------</option>
						<option value='{{ game.player_one.id }}'>{{ game.player_one.player_name }}</option>
						<option value='{{ game.player_two.id }}'>{{ game.player_two.player_name }}</option>
					</select>
					<input type="hidden" name="game_id" value='{{ game.id }}'>
					<input class='endgame-submit-button' type='submit' value='End Game'>
				</form>
				</div>
			</div>
		{% endfor %}
	{% endif %}
</div>
{% endblock %}